.heading {
    height: 80px;
    padding: 21px;
    padding-top: 25px !important;
    margin-bottom: 10px;
    margin-top: var(--ion-safe-area-top) !important;
    .logo{
        width: 65px;
    }
   

    .title {
        font-family: 'Blair ITC';
        font-size: 15px;
        font-weight: 500;
        line-height: 20.8px;
        text-align: left;
        color: white;
    }

    .sub-title {
        font-family: 'Blair ITC';
        font-size: 10px;
        font-weight: 300;
        line-height: 13.52px;
        text-align: left;
        color: white;
    }
}

.next-btn {
    padding: 5px 5px 5px 5px;
    border-radius: 15px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
    line-height: 22.4px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
    gap: 10px;
    width: 60px;
    background-color: white;
}